.cameraContainer,
.cameraComponent {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.cameraComponent {
  transform: scaleX(-1);
  height: 35rem;
  overflow: hidden;

  transition: 0.5s;
}

.cameraComponent.disable {
  background: var(--white);
}

.cameraComponent.enable {
  background: var(--dark-bg);
}

.cameraComponent video {
  width: 55rem;
}

.cameraComponent > span {
  position: absolute;
  bottom: 1rem;

  transform: scaleX(-1);
}

.cameraComponent canvas {
  position: absolute;
}

.handleCameraDisable {
  color: var(--text);
  position: absolute;

  width: 55rem;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  font-size: 1.6rem;

  text-align: center;
}

.handleCameraDisable button {
  border-radius: 0.2rem;
}
